<body>
    <div class="container">
      <h1 class="custome">
        <span class="blue">G</span>
        <span class="red">o</span>
        <span class="orange">o</span>
        <span class="blue">g</span>
        <span class="red">l</span>
        <span class="green">e</span>
      </h1>
        <h2>Forget Password</h2>
        <form [formGroup]="forgetPage" ngSubmit="onSubmit()">
            <div class="input-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password"  formControlName="Password">
                  <mat-error>Password is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Confirm Password" formControlName = "Confirm_Password">
                  <mat-error>Password is required</mat-error>
                </mat-form-field>
                
            </div>

            <div class="buttons">
                
                <button mat-raised-button color="primary">Save</button>
            </div>
        </form>
      <div>
    </div>
    </div>
    <div class="footer" >
      <a routerLink="/#">Help</a>
      <a routerLink="/#">Privacy</a>
      <a routerLink="/#">Terms</a>
  </div>
  <div class="footer_Lang">
    <a routerLink="/#">English(UK)</a>
  </div>
    </body>
    