<div>
  <mat-toolbar class="navBar">
    <div class="navMenuIcon" fxLayout="row" style="display:flex; justify-content: space-between; align-items: center;">
      <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon></button>
      </div>
      <div>
        <img class="keepIcon" src="../../../assets/keep.png" alt="Google">
      </div>
      <span style="margin-right: 80px;">Google Keep</span>
    </div>
    <div class="searchBar" >
      <input class="search" placeholder="Search" type="text">
    </div>  

    <div class="settingBar" fxLayout="coloum" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"><mat-icon>refresh</mat-icon></button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"><mat-icon>grid_view</mat-icon></button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"><mat-icon>settings</mat-icon></button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"><mat-icon>apps</mat-icon></button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with profile icon">
        <mat-icon>person</mat-icon>
      </button>
      
    </div>
  </mat-toolbar>                                                                
  

  <mat-sidenav-container>
    <mat-drawer mode="push" >Drawer content</mat-drawer>
    <mat-sidenav #sidenav >
        <mat-nav-list class="sidenavlist">
          <a mat-list-item>
            <img class="icon" src="../../../assets/notes.png">
            Notes</a>
        </mat-nav-list>

        <mat-nav-list class="sidenavlist">
          <a mat-list-item>
            <img class="icon" src="../../../assets/reminder.png">
            Reminder</a>
        </mat-nav-list>

        <mat-nav-list class="sidenavlist">
          <a mat-list-item>
            <img class="icon" src="../../../assets/edit.png">
            Edit Label</a>
        </mat-nav-list>

        <mat-nav-list class="sidenavlist">
          <a mat-list-item>
            <img class="icon" src="../../../assets/archive.png">
            Archived</a>
        </mat-nav-list>
        
        <mat-nav-list class="sidenavlist">
          <a mat-list-item>
            <img class="icon" src="../../../assets/trash.png">
            Bin</a>
        </mat-nav-list>

   </mat-sidenav>

   <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>