<body>
    
<div class="container">
    <h1 class="custome">FundooNotes</h1>
    <h2>Welcome</h2>
    <h1>Signin With Your Login ID and Password</h1>
    <form>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email Or PhoneNumber">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
            </mat-form-field>
          </p>
    </form>
    <div>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="primary">Resigter</button>
    </div>
</div>

</body>