<div >
    <div *ngIf="display;then takeNote else inputNote"></div> 
    <ng-template #takeNote>
        <div class="card">
            <mat-card (click)="display = !display">
                <mat-card-content class="note">
                    <input id="note" (click)="display = !display" placeholder="Take a note...">
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
    
    <ng-template #inputNote>
        <div class="card" >
            <form [formGroup]="noteForm">
                <mat-card>
                    <mat-card-content class="title" >
                        <input id="title" formControlName="title" placeholder="Title">
                        <button mat-icon-button><img class="titlePin" mat-card-avatar src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.png"></button>
                    </mat-card-content>
            
                    <mat-card-content class="note">
                        <input id="note" formControlName="takeANote" placeholder="Take a note...">
                    </mat-card-content>
            
                    <mat-card-content class="noteIconContent">
                        
                        <app-note-tool-icon></app-note-tool-icon>
                        <app-undo-redo></app-undo-redo>
                        
                        <mat-nav-list style="display:flex; justify-content: center; align-items: center;">
                            <button mat-flat-button (click)="onSubmit()" (click)="display = !display">Close</button>
                        </mat-nav-list>
                        
                    </mat-card-content> 
                </mat-card>
            </form>
        </div>
    </ng-template>

</div >